* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* #sort > * {
    align-self: center;
} */

#sorting-visualizer {
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: scaleY(-1);
}

.rectangle {
    background-color: black;
}